{% extends 'base_templates/authentication_base.html'%}
{% load static %}
{% block 'head' %}
<link href="{% static 'authentication/css/css.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}

        {% endif %}
        
        <div class="box">
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <h2>Lagar-se</h2>
                <hr>
                {{auth_form.as_p}}
                <input type="submit" value="enviar" class="btn btn-main">
            </form>
        </div>
    </div>
    
{% endblock %}